[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
csfnst = {editable = true,path = "."}
tqdm = "*"
onnx = "*"
flask = "*"
flask-cors = "*"
pyopenssl = "*"
matplotlib = "*"
torchsummary = "*"
future = "*"
yaml = "*"
tb-nightly = "*"
prettytable = "*"
pip-check = "*"

[requires]
python_version = "3.6"
